@using FakeBlog.Models.Blog
@model FakeBlogModel

@{
	//
}

<style>
	.blog-tile {
		height: max(100px, 300px);
		transform: scale(100%);
	}

		.blog-tile:hover {
			transform: scale(101%);
		}
</style>

<div class="bg-light p-2 shadow blog-tile">
	<div class="h-100 d-flex flex-column">
		<a asp-controller="Blog" asp-action="Read" asp-route-id="@Model.BlogId" 
		   class="link-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-25-hover">
			<h6 class="display-6 text-break">@Model.Title</h6>
		</a>
		<p class="lead overflow-hidden flex-fill">@Model.Content</p>
		<div class="d-flex flex-row">
			@if (!Model.Anonymous)
			{
				<div class="flex-fill">
					<a asp-controller="Account" asp-action="Index" asp-route-id="@Model.AuthorId" class="link-dark">
						@Model.Author
					</a>
				</div>
			}
			<div class="text-end">
				@Model.DateCreated.ToShortDateString()
			</div>
		</div>
	</div>
</div>