@using FakeBlog.Models.Blog
@using FakeBlog.Models.Account
@model FakeBlogUserModel

@{
	ViewData["Title"] = "Account Index";
}

<style>
	.blog-user-img {
		width: 150px;
		height: 150px;
		aspect-ratio: 1/1;
	}
</style>

<h1 class="display-1 visually-hidden">@ViewData["Title"]</h1>

<!-- Profile -->
<div class="d-flex flex-row align-items-center gap-3 mb-3 bg-light p-3">
	<div class="blog-user-img d-flex justify-content-center align-items-center rounded-circle border bg-dark text-light">PP</div>
	<div class="flex-fill">
		<p>@(Model?.UserName ?? "No username")</p>
		<p class="text-muted">@(Model?.Bio ?? "No bio")</p>
	</div>
	@if (Model?.UserName == User.Identity?.Name)
	{
		<a href="#" class="btn btn-outline-dark">Edit Profile</a>
	}
	else
	{
		<input type="checkbox" class="btn-check" id="btnFollow" autocomplete="off" />
		<label for="btnFollow" class="btn btn-outline-dark" id="btnFollowLabel">Follow</label>
	}
</div>

<h2 class="display-2">Blogs</h2>
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
	@if (User.Identity?.Name == Model?.UserName)
	{
		<div class="text-center mb-3">
			<a asp-controller="Blog" asp-action="Create" title="Create new blog" class="btn btn-dark">
				<i class="bi bi-plus"></i> Create new
			</a>
		</div>
	}
}

@if (Model == null || Model.Blogs?.Count() == 0)
{
	<p class="text-danger">No blogs</p>
}
else
{
	<div class="container">
		<div class="p-2 row row-cols-1 row-gap-3">
			@foreach (FakeBlogModel blog in Model.Blogs!)
			{
				@if (!blog.Anonymous || blog.Author == User.Identity?.Name)
				{
					<a asp-controller="Blog" asp-action="Read" asp-route-id="@blog.BlogId"
					   class="text-reset text-decoration-none shadow p-2 bg-light blog-hover-scale">
						<p>@blog.Title</p>
						<p>@blog.Content</p>
						<p>@blog.LastUpdated</p>
					</a>
				}
			}
		</div>
	</div>
}

<script>
	const btnFollow = document.getElementById("btnFollow");
	const btnFollowLabel = document.getElementById("btnFollowLabel");
	if (btnFollow && btnFollowLabel) {
		btnFollow.addEventListener("change", () => btnFollowLabel.innerHTML = btnFollow.checked ? "Unfollow" : "Follow");
	}
</script>