@{
	ViewData["Title"] = "Account Settings";
	string thumbClassList = "col bg-light border p-3 link-dark link-underline-opacity-0 link-underline-opacity-75-hover blog-setting-thumb";
}

<style>
	.blog-setting-thumb {
		width: 200px;
		height: 200px;
		display: grid;
		place-items: center;
		text-align: center;
		transform: scale(100%);
	}

		.blog-setting-thumb:hover {
			transform: scale(101%);
		}
</style>

<h1 class="display-1">@ViewData["Title"]</h1>
<p>Logged in as: @User.Identity?.Name</p>

<div class="container">
	@if (User.IsInRole("Master"))
	{
		<div class="row row-cols-2 row-cols-md-3 gap-3 mb-3">
			<a href="#" title="Reports" class="@thumbClassList">
				<i class="bi bi-exclamation-triangle fs-1 d-block"></i>Reports
				<span class="badge text-bg-danger">0</span>
			</a>
			<a asp-controller="Admin" asp-action="UserManager" title="User Manager" class="@thumbClassList">
				<i class="bi bi-person-gear fs-1 d-block"></i>User Manager
			</a>
		</div>
	}
	<div class="row row-cols-2 row-cols-md-3 gap-3 mb-3">
		<a asp-controller="Account" asp-action="UpdatePassword" title="Update Password" class="@thumbClassList">
			<i class="bi bi-key fs-1 d-block"></i>Update Password
		</a>
		<a asp-controller="Account" asp-action="Logout" title="Logout" class="@thumbClassList">
			<i class="bi bi-box-arrow-in-left fs-1 d-block"></i>Logout
		</a>
	</div>
</div>