@using FakeBlog.Models.Blog
@using FakeBlog.Models.Account
@model FakeBlog.Models.FakeBlogSearchResult

@{
	ViewData["Title"] = "Search";
}

<h1 class="display-1">@ViewData["Title"]</h1>

<!-- Search Bar -->
<form method="post" asp-controller="Home" asp-action="Search" class="mb-3">
	<input type="text" asp-for="@Model.Query" placeholder="Search for posts or users..." class="form-control mx-auto rounded-5" />
	<input type="submit" value="Search" class="btn btn-dark visually-hidden" />
</form>

@if (Model != null && Model.HasResult)
{
	<div class="container">
		@if (Model.Posts?.Count() > 0)
		{
			<h2 class="display-2">Posts</h2>
			@foreach (FakeBlogModel post in Model.Posts)
			{
				<div class="bg-secondary-subtle bg-opacity-75 p-2 mb-3 blog-tile">
					<a asp-controller="Blog" asp-action="Read" asp-route-id="@post.BlogId" class="link-dark text-decoration-none">
						<h3 class="display-3">@post.Title</h3>
						<p class="lead">@post.Content</p>
					</a>
					@if (!post.Anonymous)
					{
						<a asp-controller="Account" asp-action="Index" asp-route-id="@post.AuthorId" class="d-block">
							@post.Author
						</a>
					}
				</div>
			}
		}

		@if (Model.Users?.Count() > 0)
		{
			<h2 class="display-2">Users</h2>
			@foreach (FakeBlogUserModel user in Model.Users)
			{
				<div class="bg-secondary-subtle bg-opacity-75 p-2 mb-3">
					<a asp-controller="Account" asp-action="Index" asp-route-id="@user.Id">@user.UserName</a>
				</div>
			}
		}
	</div>
}