@using FakeBlog.Models.Blog
@model FakeBlogReportModel

@{
	ViewData["Title"] = "Blog Report";
}

<h1 class="display-1">@ViewData["Title"]</h1>
@if (Model.Blog != null)
{
	<form method="post" asp-controller="Blog" asp-action="Report" enctype="application/x-www-form-urlencoded">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="mb-3">
			<div class="mb-3">
				<label asp-for="@Model.Reason" class="form-label fw-bold">Report Reason</label>
				<textarea asp-for="@Model.Reason" placeholder="Reason for reporting post" class="form-control" required></textarea>
			</div>
			<label asp-for="@Model.Blog.Id" class="form-label fw-bold">Blog Id</label>
			<input asp-for="@Model.Blog.Id" class="form-control-plaintext" readonly />
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Blog.Title" class="form-label fw-bold">Blog Title</label>
			<input asp-for="@Model.Blog.Title" class="form-control-plaintext" readonly />
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Blog.Content" class="form-label fw-bold">Blog Content</label>
			<textarea asp-for="@Model.Blog.Content" class="form-control-plaintext" readonly></textarea>
		</div>
		<input type="submit" value="Submit" class="btn btn-primary" />
		<a asp-controller="Blog" asp-action="View" asp-route-id="@Model.Blog.Id" class="btn btn-outline-dark">Cancel</a>
	</form>
}
else
{
	<p class="lead text-danger">Post not found</p>
}